.docgrd{
 float:left;
}
.docimg {
 float:left;
 border:1px solid black;
 width: 300px;
 height: 99%;
}
.docatt {
 float:left;
}
.ebtable #data th div.sort_wrapper span {
  margin-top: 0px;
}

#grid {
  margin: 3px 0px 10px 0px;
}
