.ebselect{
  height: 50px;
  overflow-y: auto;
  border: 1px solid lightblue;
}

.ebselect ul {
  padding: 0;
  margin: 3px;
}
.ebselect li {
  list-style-type: none;  
  text-align: left;
  font-size : 12px;
}
