.ebtable .ctrl{ 
   height: 40px;
}

.ebtable #lenctrl{ 
   width: 60px;
}

.ebtable #data{ 
   width: 100%;
}

.ebtable #head, .ebtable #data { 
   background-color:#eee;
}

.ebtable #data th{ 
   background-color:#a0a0b0; 
   padding: 5px 2px 5px 2px;
}

.ebtable #data th input {
   width: 70%;
   box-sizing: border-box;
}

.ebtable #data th div.sort_wrapper {
  position: relative;
}

.ebtable #data th div.sort_wrapper span {
   position: absolute;
   margin-top: 10px;
   right: -6px;
}

.ebtable #data td{ 
   background-color:#dfdfdf;
   padding: 5px 2px 5px 2px;
}
.ebtable #data td.group{
   background-color: #afafaf;
}
.ebtable #data td.groupheader{
   background-color: #a3a3a3;
}
.ebtable #data input[type=checkbox] {
   width: 15px;
   padding: 0px;
   margin:0px;
}

/* ConfigDlg */
.selectable { list-style-type: none; padding: 0px; width: 100%; }
.selectable li.visible  { margin: 3px 0 0 0;  padding: 3px;font-size: 10px; font-weight: bold; background-color:lightgray; background:lightgray;}
.selectable li.invisible{ margin: 3px 0 0 0;  padding: 3px;font-size: 10px; font-weight: bold; background-color:#efefef;   background:#efefef 
}
