#grid table{ background-color:lightgray;  }

th{ 
   background-color:#ddc; 
   padding: 3px 3px 3px 3px;
}
td{ background-color:white;
    padding: 3px 3px 3px 3px
}
thead input {
   width: 100%;
   padding: 0px;
   box-sizing: border-box;
}

input[type=checkbox] {
   width: 15px;
   padding: 0px;
   margin:0px;
}

div.sort_wrapper {
   position: relative;
}

table thead th div.sort_wrapper span {
   position: absolute;
   margin-top: -6px;
   right: -6px;
}
#xhead th, #xdata td {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


