.ebtree ul{ list-style-type: none; padding: 3px 5px 3px 5px; margin:1px 0px 1px 0px; }
.ebtree li{ list-style-type: none; padding: 1px 5px 1px 5px;  }
.ebtree a { color: blue;}
.ebtree i { padding: 3px 3px 3px 3px;  }
.ebtree li.focus>a{background-color: #cce;}
.ebtree ul li span { float: left;	width: 16.5px;}
