<!DOCTYPE html>
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { background:#FAFAF0; margin: 5px 5px 5px 5px; }
      * {font-family: arial; color: black; font-size: 12px; }
    </style>
    <link rel="stylesheet" href="../../../vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../vendor/jQueryUI-1.12.0/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../css/ebtree.css">

    <script src="../../../vendor/underscore-1.8.3/underscore-1.8.3.min.js"></script>
    <script src="../../../vendor/jQuery-1.11.3/jquery-1.11.3.min.js"></script>
    <script src="../../../vendor/jQueryUI-1.12.0/jquery-ui.min.js"></script>
    <script src="../../../javascript/polyfill.js"></script>
    <script src="../../../javascript/eblib/ebbind.js"></script>
    <script src="../../../javascript/eblib/ebtree.js"></script>

    <script>
      const availableActions = {
        'checkbox': {
          prefix: 'checkbox',
          renderer: function (item) {
            return  _.template('<input type="checkbox" id="<%=id%>"></i>')({
              id: 'checkbox-' + item.id,
            })
          },
          action: function (item) {
            console.log('CHECKBOX checked:', item)
          }
        },
        'document-link': {
          prefix: 'document-link',
          renderer: function (item) {
            const documentLabel = function (doc) {
              return _.template('<%=doctype%> - <%= docdate%> - <%= author%> - <%= docname%>')({
                doctype: doc.docType.doctypetext,
                docdate: doc.docdate,
                author: doc.author || '',
                docname: doc.name,
              })
            }
            return  _.template('<a id="<%=id%>"><%=name%></a>')({
              id: 'document-link-' + item.id,
              name: item.data ? documentLabel(item.data) : '',
            })
          },
          action: function (item) {
            console.log('LINK clicked!', item)
          }
        },
        'show-info': {
          prefix: 'show-info',
          renderer: function (item) {
            return  _.template('<i class="fa fa-info fa-2x" id="<%=id%>" title="Informationen zu Dokument"></i>')({
              id: 'show-info-' + item.id,
            })
          },
          action: function (item) {
            console.log('INFO!', item)
          }
        },
        'standard-schreiben': {
          prefix: 'standard-schreiben',
          renderer: function (item) {
            return  _.template('<i class="fa fa-book fa-2x" id="<%=id%>"  title="Standardschreiben erstellen"></i>')({
              id: 'standard-schreiben-' + item.id,
            })
          },
          action: function (item) {
            console.log('Standardschreiben', item)
          }
        },
        'serverdruck-info': {
          prefix: 'serverdruck-info',
          renderer: function (item) {
            const map = {1: 'angestoßen', 2: 'angefordert'}
            return  _.template('<i class="fa fa-print fa-2x" id="<%=id%>" title="<%=title%>" style="background-color:<%=backgroundColor%>"></i>')({
              id: 'serverdruck-info-' + item.id,
              title: 'Serverdruck ' + (item.data['delivery-status'] ? map[item.data['delivery-status']] : '????'), // TODO
              backgroundColor: item.data['delivery-status'] === 1 ? 'yellow' : 'lightgreen',
            })
          },
        },
      };

      const treeData = [{
          label: 'Allgemeine Parameter',
          selected: true,
          isCollapsed: true,
          actions: [availableActions['checkbox']],
          subitems: [{
              label: 'Weitere BV',
              isCollapsed: true,
              actions: [availableActions['checkbox'], availableActions['show-info']],
              data: {
                name: 'TEST1'
              },
              subitems: [
                {label: 'Subitem1', actions: [availableActions['show-info']]},
                {label: 'Subitem2', actions: [availableActions['checkbox'], availableActions['show-info']]},
                {label: 'Subitem3', actions: [availableActions['checkbox'], availableActions['show-info']]},
              ],
            },
          ],
        },
        {
          label: 'Spezielle Parameter',
          isCollapsed: true,
          actions: [availableActions['checkbox']],
          subitems: [
            {label: 'Subitem1', actions: [availableActions['show-info']]},
            {label: 'Subitem2', actions: [availableActions['checkbox'], availableActions['show-info']]},
            {label: 'Subitem3', actions: [availableActions['checkbox'], availableActions['show-info']]},
          ],
        },
      ];

      $().ready(function () {

        const tree1 = $('#tree1').ebtree(treeData);
        $('#btnOpenAll').on('click', function () {
          tree1.collapseAll(false)
        });
        $('#btnCloseAll').on('click', function () {
          tree1.collapseAll(true)
        });
        $('#btnGetSelection').on('click', function () {
          const res = tree1.getSelectedItems();
          console.log(res);
        });

      });
    </script>
  </head>
  <body>
    <div id="mainWork">
      <button id='btnOpenAll'>Alle Ordner öffnen</button>
      <button id='btnCloseAll'>Alle Ordner schließen</button>
      <button id='btnGetSelection'>Alle Selektierten Items ermitteln</button>
      <div id='tree1' style="border:1px solid black; padding: 1px"></div>
    </div>
  </body>
</html>
