<!DOCTYPE html>
<html>
  <head>
    <title>Test2 for ebtree </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { background:#FAFAF0; margin: 5px 5px 5px 5px; }
      * {font-family: arial; color: black; font-size: 12px; }
      .ebtable i { padding: 1px 4px 1px 4px;  }

    </style>
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/jQueryUI-1.12.0/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/ebtree.css">
    <link rel="stylesheet" href="/css/ebtable.css">

    <script src="/data/akte/akte1.js"></script>
    <script src="/data/akte/akte2.js"></script>
    <script src="/data/akte/akte3.js"></script>

    <script src="/vendor/underscore-1.8.3/underscore-1.8.3.min.js"></script>
    <script src="/vendor/jQuery-1.11.3/jquery-1.11.3.min.js"></script>
    <script src="/vendor/jQueryUI-1.12.0/jquery-ui.min.js"></script>
    <script src="/javascript/polyfill.js"></script>
    <script src="/javascript/eblib/ebutils.js"></script>
    <script src="/javascript/eblib/ebbind.js"></script>
    <script src="/javascript/eblib/ebtree.js"></script>
    <script src="/javascript/eblib/mx.js"></script>
    <script src="/javascript/eblib/ebtable.js"></script>

    <script>

      const akte = akte1;

      const actions = {
        showContent: function (id) {
          console.log('showContent:', id)
        },
        dlgShowDocumentInfo: function (id) {
          console.log('dlgShowDocumentInfo', id)
        },
        dlgCreateStandardschreiben: function (id) {
          console.log('dlgCreateStandardschreiben', id)
        },
      }

      const availableActions = {
        'checkbox': {
          prefix: 'checkbox',
          renderer: function (item) {
            return  _.template('<input type="checkbox" id="<%=id%>"></i>')({
              id: 'checkbox-' + item.id,
            })
          },
          action: function (item) {
            console.log('CHECKBOX checked:', item)
          }
        },
        'document-link': {
          prefix: 'document-link',
          renderer: function (item) {
            const documentLabel = function (doc) {
              return _.template('<%=doctype%> - <%= docdate%> - <%= author%> - <%= docname%>')({
                doctype: doc.docType.doctypetext,
                docdate: doc.docdate,
                author: doc.author || '',
                docname: doc.name,
              })
            }
            return  _.template('<a id="<%=id%>"><%=name%></a>')({
              id: 'document-link-' + item.id,
              name: item.data ? documentLabel(item.data) : '',
            })
          },
          action: function (item) {
            console.log('LINK clicked!', item)
          }
        },
        'show-info': {
          prefix: 'show-info',
          renderer: function (item) {
            return  _.template('<i class="fa fa-info fa-1x" id="<%=id%>" title="Informationen zu Dokument"></i>')({
              id: 'show-info-' + item.id,
            })
          },
          action: function (item) {
            console.log('INFO!', item)
          }
        },
        'standard-schreiben': {
          prefix: 'standard-schreiben',
          renderer: function (item) {
            return  _.template('<i class="fa fa-book fa-1x" id="<%=id%>" title="Standardschreiben erstellen"></i>')({
              id: 'standard-schreiben-' + item.id,
            })
          },
          action: function (item) {
            console.log('Standardschreiben', item)
          }
        },
        'serverdruck-info': {
          prefix: 'serverdruck-info',
          renderer: function (item) {
            const map = {1: 'angestoßen', 2: 'angefordert'}
            return  _.template('<i class="fa fa-print fa-1x title="<%=title%>" style="background-color:<%=backgroundColor%>"></i>')({
              title: 'Serverdruck ' + (item.data['delivery-status'] ? map[item.data['delivery-status']] : '????'), // TODO
              backgroundColor: item.data['delivery-status'] === 1 ? 'yellow' : 'lightgreen',
            })
          },
        },
      };


      const prepareAkteForTree = function (akte) {

        const mapObjectToArray = function (obj, f) {
          return Object.keys(obj).map(key => f ? f(key, obj[key]) : obj[key]);
        };

        const computeActionsForDocument = function (doc) {
          const res = [];

          if (doc.removable)
            res.push(availableActions['checkbox'])

          res.push(availableActions['show-info'])

          if (doc['delivery-status'])
            res.push(availableActions['serverdruck-info'])

          if (doc['doclink']) // ??? TODO ??? 
            res.push(availableActions['standard-schreiben'])

          if (doc)
            res.push(availableActions['document-link'])

          return res;
        }

        const subtree1 = mapObjectToArray(akte
                .filter(function (o) {
                  return o['source-workorder-id'] === 0
                })
                .groupBy(function (e) {
                  return e.document.tab.name
                }), function (key, o) {
          return {
            label: key,
            actions: [availableActions['checkbox']],
            subitems: o.map(e => ({
                label: ' ',
                actions: computeActionsForDocument(e.document),
                data: e.document
              }))
          }
        });

        const subtree2 = mapObjectToArray(_.mapObject(akte
                .filter(function (o) {
                  return o['source-workorder-id'] !== 0
                })
                .groupBy(function (o) {
                  return o['source-workorder-id']
                }), function (o) {
          return o.groupBy(e => e.document.tab.name)
        }), function (key, o) {
          return {
            label: key,
            actions: [availableActions['checkbox']],
            subitems: mapObjectToArray(o, function (key, o) {
              return{
                label: key,
                actions: [availableActions['checkbox']],
                subitems: o.map(function (e) {
                  return {
                    label: ' ',
                    actions: computeActionsForDocument(e.document),
                    data: e.document,
                  }
                })
              }
            })
          }
        });

        const docs = [];
        if (subtree1.length) {
          docs.push({
            label: 'Dokumente zum Auftrag',
            isopen: true,
            actions: [availableActions['checkbox']],
            subitems: subtree1
          })
        }
        if (subtree2.length) {
          docs.push({
            label: 'Dokumente aus früheren Aufträgen',
            actions: [availableActions['checkbox']],
            subitems: subtree2
          })
        }
        console.log(docs);
        return docs;
      }

      const initGrid = function( akte ){

        const renderer = {
          quelle: function (data) {
            return data || ''
          },
          name: function (data, row, r) {
            const doc = row[0].document;

            const link = _.template('<a href="showContent(\'<%=id%>\')"><%=name%></a>')({
              id: doc.crypteddocid,
              name: doc.name
            })

            const a = _.template('<i class="fa fa-info fa-1x" title="Informationen zu Dokument" onclick=actions.dlgShowDocumentInfo(\'<%=id%>\')></i>')({id: doc.crypteddocid})
            const b = !doc['doclink'] ? '' : _.template('<i class="fa fa-book fa-1x" title="Standardschreiben erstellen" onclick=actions.dlgCreateStandardschreiben(\'<%=id%>\')></i>')({id: doc.crypteddocid})
            const c = (function () {
              const map = {1: 'angestoßen', 2: 'angefordert'}
              return  !doc['delivery-status'] ? '' : _.template('<i class="fa fa-print fa-1x" title="<%=title%>" style="background-color:<%=backgroundColor%>"></i>')({
                title: 'Serverdruck ' + (doc['delivery-status'] ? map[doc['delivery-status']] : '????'), // TODO
                backgroundColor: doc['delivery-status'] === 1 ? 'yellow' : 'lightgreen',
              })
            })();
            return link + a + b + c
          }
        };

        const opts = {
          sortcolname: 'Quelle',
          columns: [
            {name: "", invisible: true, technical: true},
            {name: "Name", render: renderer.name},
            {name: "Größe", render: ebutils.formatBytes, width: '40px'},
            {name: "Datum", sortformat: 'date-de', width: '60px'},
            {name: "Dokumentenart"},
            {name: "Autor"},
            {name: "Lasche"},
            {name: "Quelle", render: renderer.quelle},
          ],
          selectionCol: true,
          flags: {colsResizable: true},
        };
        const data = akte.map(function (o) {
          const d = o.document;
          return  [o, d.name, d.docsize, d.docdate, d.docType.doctypetext, d.author, d.tab.name, o['source-workorder-id']]
        });
        $('#grid').ebtable(opts, data)

      }


      $().ready(function () {
        $("#tabs").tabs();

        $('#tree').ebtree(prepareAkteForTree(akte));
        initGrid(akte)

        $('#btnOpenAll').button().on('click', function () {
          tree.collapseAll(false)
        });
        $('#btnCloseAll').button().on('click', function () {
          tree.collapseAll(true)
        });
        $('#btnGetSelection').button().on('click', function () {
          const res = tree.getSelectedItems();
          console.log(res);
        });
        $('#btnDelete').button().on('click', function () {
          const res = tree.getSelectedItems();
          console.log(res);
        });
        $('#btnDeleteServerPrint').button().on('click', function () {
          const res = tree.getSelectedItems();
          console.log(res);
        });

      });
    </script>
  </head>
  <body>
    <div id="mainWork">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Listenansicht</a></li>
          <li><a href="#tabs-2">Baumansicht</a></li>
        </ul>
        <div id="tabs-1">
          <div id='grid'></div>
        </div>
        <div id="tabs-2">
          <button id='btnOpenAll'>Alle Ordner öffnen</button>
          <button id='btnCloseAll'>Alle Ordner schließen</button>
          <button id='btnGetSelection'>Alle Selektierten Items ermitteln</button>
          <button id='btnDelete'>Aus Akte entfernern</button>
          <button id='btnDeleteServerPrint'>Aus Serverdruck entfernern</button>
          <div id='tree'></div>
        </div>
      </div>
    </div>
  </body>
</html>
