<!DOCTYPE html>
<!-- orderDetails (<%=org.slf4j.MDC.get('Request')%>) -->
<html xmlns='http://www.w3.org/1999/xhtml' lang='de'>
   <head>
      <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
      <meta http-equiv='Content-Style-Type' content='text/css'/>

      <title>Auftrag</title>

      <link rel='stylesheet' href='/vendor/font-awesome-4.7.0/css/font-awesome.min.css'/>
      <link rel='stylesheet' href='/vendor/jQueryUI-1.12.0/jquery-ui.min.css'/>
      <link rel='stylesheet' href='/vendor/ebtable/ebtable.css'/>
      <link rel='stylesheet' href='/css/eblib.css'/>
      <link rel='stylesheet' href='/css/ebselect.css'/>

      <style>
         * { font-family:Arial; color: black; font-size: 12px;  }
         input.red { color: red; width:40px;}
         input.black { color: black; width:40px; }
         ul.ui-menu { max-height: 300px; }
         .ui-datepicker-trigger { border:none; background:none; }
         .date { width: 65px; }
         .date-time { width: 100px; }
      </style>

      <script src='/data/icddata.js'></script>    
      <script src='/data/order/auftrag2.js'></script>
      <script src='/data/order/valuelists.js'></script>

      <script src='/vendor/Underscore-1.8.3/underscore.min.js'></script>
      <script src='/vendor/jQuery-1.11.3/jquery.min.js'></script>
      <script src='/vendor/jQueryUI-1.12.0/jquery-ui.min.js'></script>
      <script src='/vendor/jQuery-contextmenu/jquery.contextMenu.min.js'></script>
      <script src='/vendor/moment.min.js'></script>
      <script src='/vendor/ebtable/mx.js'></script>
      <script src='/vendor/ebtable/ebtable.js'></script>
      <script src='/vendor/vue-1.0.26/vue.js'></script>

      <script src='/javascript/polyfill.js'></script>
      <script src='/javascript/jquery-ui-datepicker-de.js'></script>
      <script src='/javascript/vue-eb.js'></script>

      <script src='/javascript/eblib/ebutils.js'></script>
      <script src='/javascript/eblib/ebviewer.js'></script>
      <script src='/javascript/eblib/ebbind.js'></script>
      <script src='/javascript/eblib/ebdropdown.js'></script>
      <script src='/javascript/eblib/ebselect.js'></script>
      <script src='/javascript/eblib/ebtextarea.js'></script>
      <script src='/javascript/icdUtils.js'></script>

      <script src='/javascript/components/componentBearbeitungszeiten.js'></script>
      <script src='/javascript/dialogs/dlgIcdcode.js'></script>
      <script src='/javascript/dialogs/dlgAnsprechpartner.js'></script>
      <script src='/javascript/dialogs/dlgSelectExpert.js'></script>
      <script src='/javascript/dialogs/dlgInsurantInfo.js'></script>
      <script src='/javascript/dialogs/dlgBearbeitungsZeiten.js'></script>
      <script src='/javascript/orderDetails.js'></script>
   </head>
   <body>
      <div id='app'>
         <div>
            Readonly<input type='checkbox' v-model='readonly' id='cbReadonly'/>
         </div>
         <hr/>

         <div>
            <h2>Eigenschaften</h2> 
            <span>
               <label for='isEilauftrag'>Eilauftrag</label>
               <input type='checkbox' v-model='auftrag["is-priority"]'/>
            </span>
            <span>
               <label for='isPRGKZ'>PRGRZ</label>
               <input type='checkbox' v-model='auftrag["is-prg"]'/>
            </span>
            <span>
               <label for='isBTHG'>BTHG</label>
               <input type='checkbox' v-model='auftrag["is-bthg"]' @click='auftrag["is-bthg-plus"]=false'/>
            </span>
            <span v-if='auftrag["is-bthg"]'>
               <label for='isBTHGPlus'>BTHG+</label>
               <input type='checkbox' v-model='auftrag["is-bthg-plus"]'/>
            </span>
            <span>
               <label for='isSpezialfall'>Spezialfall</label>
               <input type='checkbox' v-model='auftrag["is-special-case"]'/>
            </span>
         </div>

         <br/>

         <div>
            <h2>Kürzel</h2> 
            <input type='text' style='width:60px' v-model='ordercode'/>
            <select v-selectmenu='auftrag["ordercode-id"]' style='width:500px' class='sel'>
               <option v-for='opt in valuelists.ordercodes' v-bind:value='opt.value'>{{ opt.text }}</option>
            </select>

         </div>

         <br/>

         <div>
            <h2>Fristen</h2> 
            <table>
               <tr>
                  <td>Frist</td>
                  <td>
                     <input type='text' v-model='fristInDays' disabled v-bind:class='fristInDays<=0?"red":"black"' />
                     <input type='text' v-if='!readonly' v-datepicker='auftrag["deadline-date"]' disabled hidden />
                  </td>
               </tr>
               <tr v-if='!readonly || auftrag["deadline-at-agency-date"]'>
                  <td>Fristablauf bei Kasse</td>
                  <td>
                     <input type='text' v-model='fristAblaufBeiKasseInDays' disabled v-bind:class='fristAblaufBeiKasseInDays<=0?"red":"black"'/>
                     <input type='text' v-if='!readonly' v-datepicker='auftrag["deadline-at-agency-date"]' disabled hidden />
                  </td>
               </tr>
            </table>
            <br/>
         </div>

         <div v-if="auftrag['reference-id']>0">
            <h2>Referenzierte Aufträge</h2>
            <div v-if='readonly'>
               <a href="#" 
                  onclick="showRefOrder('showReference','{{ auftrag['reference-id'] }}')"
                  >
                  {{ auftrag['reference-id'] }}
               </a>
            </div>   
            <div v-if='!readonly'>
               {{ auftrag['reference-id'] }} 
               <i class="fa fa-search" title='Referenzierten Auftrag suchen'></i> 
            </div>   
            <br/>
         </div>

         <div>
            <div>
               <h2>Versicherter                
                  <i class="fa fa-info-circle" title='Versicherten anzeigen'></i> 
               </h2> 
               <table>
                  <tr><td>Name                </td><td><input type='text' v-model='auftrag.insuredperson.lastname'    disabled class="readonly"/></td></tr>
                  <tr><td>Vorname             </td><td><input type='text' v-model='auftrag.insuredperson.firstname'   disabled class="readonly"/></td></tr>
                  <tr><td>Geburtsdatum        </td><td><input type='text' v-model='auftrag.insuredperson.dateofbirth' disabled class="readonly"/></td></tr>
                  <tr><td>Versicherungsnummer </td><td><input type='text' v-model='auftrag.insuredperson.insuranceno' disabled class="readonly"/></td></tr>
               </table>
            </div>

            <div>
               <h2>Auftraggeber                
                  <i class="fa fa-info-circle" title='Auftraggeber anzeigen'></i> 
                  <i class="fa fa-search"      title='Auftraggeber auswählen' v-if='!readonly'></i> 
                  <i class="fa fa-trash"       title='Auftraggeber entfernen' v-if='!readonly'></i> 
               </h2> 
               <table>
                  <tr>
                     <td>Aktenzeichen</td>
                     <td><input type='text' v-model='auftrag["workorder-no"]'/></td>
                  </tr>
                  <tr>
                     <td>Auftrag vom</td>
                     <td>
                        <input type='text' v-if='readonly'  v-model     ='auftrag["date-incoming"]' class="date" disabled/>
                        <input type='text' v-if='!readonly' v-datepicker='auftrag["date-incoming"]' class="date"/>
                     </td>
                  </tr>
                  <tr>
                     <td>Name</td>
                     <td><input type='text' v-model='auftrag.applicant.name' disabled class="readonly"/></td>
                  </tr>
                  <tr>
                     <td>Aktueller Bearbeiter</td>
                     <td> <input type='text' v-model='aktuellerBearbeiter' disabled class="readonly"/></td>
                  </tr>
                  <tr>
                     <td>Status</td>
                     <td><input type='text' v-model='auftrag["process-status"]' disabled class="readonly"/></td>
                  </tr>
                  <tr>
                     <td>Ansprechpartner</td>
                     <td>
                        <input type='text' v-model='ansprechpartner' disabled class="readonly"/>
                        <i class="fa fa-info-circle" title='Ansprechpartner anzeigen' @click='showDlgAnsprechpartner(auftrag["applicant-contact"])'></i> 
                        <i v-if="!readonly" class="fa fa-edit" title='Ansprechpartner bearbeiten' @click='editDlgAnsprechpartner(auftrag["applicant-contact"])'></i> 
                     </td>
                  </tr>
                  <tr>
                     <td>Aktenzeichen</td>
                     <td><input type='text' v-model='auftrag["workorder-no"]'/></td>
                  </tr>
                  <tr v-if='readonly'>
                     <td>SFB-Standort</td>
                     <td> <input type='text' v-model='sfbStandort' disabled class="readonly"/></td>
                  </tr>
                  <tr v-if='!readonly'>
                     <td>SFB-Standort</td>
                  </tr>
                  <tr v-if='!readonly'>
                     <td>Name</td>
                     <td><input type='text' v-model='auftrag["sfb-location-name"]'/></td>
                  </tr>
                  <tr v-if='!readonly'>
                     <td>Straße</td>
                     <td><input type='text' v-model='auftrag["sfb-location-street"]'/></td>
                  </tr>
                  <tr v-if='!readonly'>
                     <td>Postleitzahl</td>
                     <td><input type='text' v-model='auftrag["sfb-location-zipcode"]'/></td>
                  </tr>
                  <tr v-if='!readonly'>
                     <td>Ort</td>
                     <td><input type='text' v-model='auftrag["sfb-location-city"]'/></td>
                  </tr>
               </table>
            </div>

            <div>
               <h2>Auftragsdaten</h2> 
               <table>
                  <tr>
                     <td>Frage des AG</td>
                     <td><input type='text' style='width:40px' v-model='fag'/></td>
                     <td>
                        <select v-selectmenu='auftrag["reason-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.fags' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Präz. Frage des AG</td>
                     <td><input type='text' style='width:40px' v-model='fagPrec'/></td>
                     <td>
                        <select v-selectmenu='auftrag["reason-spec-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.fagsPrecision' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Produkt</td>
                     <td></td>
                     <td>
                        <select v-selectmenu='auftrag["product-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.products' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Gutachtenart</td>
                     <td>
                        <input type='text' style='width:40px' v-model='gutachtenart'/>
                     </td>
                     <td>
                        <select v-selectmenu='auftrag["expertise-type-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.gutachtenarten' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Präz. Gutachtenart</td>
                     <td><input type='text' style='width:40px' v-model='gutachtenartPrec'/></td>
                     <td>
                        <select v-selectmenu='auftrag["expertise-type-spec-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.gutachtenartenPrecision' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Erläuterung Anlass</td>
                     <td></td>
                     <td><input type='text' v-model='auftrag["reason-hint"]' style='width:500px'/></td>
                  </tr>
                  <tr>
                     <td>Diagnose</td>
                     <td>
                        <input type='text' style='width:40px' v-model="icd" id="icdCode" />
                     </td>
                     <td>
                        <input type='text' style='width:500px' v-model="icdText" class="readonly" disabled />
                        <i class="fa fa-search" title='Icdcodeauswählen' @click="openDlgIcd"  v-if='!readonly'></i> 
                     </td>
                  </tr>
                  <tr>
                     <td>Eingangsdatum</td>
                     <td></td>
                     <td>
                        <input type='text' v-if='readonly'  v-model='auftrag["registration-date"]' disabled class="date"/>
                        <input type='text' v-if='!readonly' v-datepicker='auftrag["registration-date"]' class="date"/>
                     </td>
                  </tr>
                  <tr>
                     <td>Letzte Änderung</td>
                     <td></td>
                     <td><input type='text' v-model='auftrag["last-modification-date"]' disabled class="date-time readonly"/></td>
                  </tr>
                  <tr>
                     <td>Beratungsstelle</td>
                     <td></td>
                     <td>
                        <select v-selectmenu='auftrag["competent-helpdesk-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.beratungsstellen' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Erledigungsart</td>
                     <td><input type='text' style='width:40px' v-model='erledigungsart'/></td>
                     <td>
                        <select v-selectmenu='auftrag["result-category-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.erledigungsarten' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Erledigungsort</td>
                     <td><input type='text' style='width:40px' v-model='erledigungsort'/></td>
                     <td>
                        <select v-selectmenu='auftrag["location-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.erledigungsorte' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Ergebnisse</td>
                     <td><input type='text' style='width:40px' v-model='ergebnisse'/></td>
                     <td>
                        <select v-selectmenu='auftrag["result-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.results' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Bearbeitungszeiten</td>
                     <td>
                     </td>
                     <td>
                        <button id='btnBearbeitungszeiten'>Bearbeitungszeiten eingeben</button>
                     </td>
                  </tr>
                  <tr>
                     <td>Begutachtungsdatum</td>
                     <td>
                     </td>
                     <td>
                        <input type='text' v-if='readonly' v-model='auftrag["result-date"]' class="date" disabled/>
                        <input type='text' v-if='!readonly' v-datepicker='auftrag["result-date"]' class="date"/>
                     </td>
                  </tr>
                  <tr v-if='auftrag["dms-upload-date"]'>
                     <td>DMS-Upload am</td>
                     <td>
                     </td>
                     <td>
                        <input type='text' v-model='auftrag["dms-upload-date"]' class="date" disabled/>
                     </td>
                  </tr>
                  <tr>
                     <td>Ursprünglicher Termin</td>
                     <td>
                     </td>
                     <td>
                        <input type='text' v-if='readonly'  v-model='auftrag["target-date"]' class="date" disabled/>
                        <input type='text' v-if='!readonly' v-datepicker='auftrag["target-date"]' class="date"/>
                     </td>
                  </tr>
                  <tr>
                     <td>Antragsdatum des Versicherten</td>
                     <td>
                     </td>
                     <td>
                        <input type='text' v-if='readonly'  v-model='auftrag["order-request-date"]' class="date" disabled/>
                        <input type='text' v-if='!readonly' v-datepicker='auftrag["order-request-date"]' class="date"/>
                     </td>
                  </tr>
               </table>
            </div>

            <div>
               <h2>Beteilgte Mitarbeiter</h2> 
               <table>
                  <tr>
                     <td>Erfasser</td>
                     <td><input type="text" v-model='registrationUsername' disabled></td>
                  </tr>
                  <tr>
                     <td>Verantwortlicher Gutachter</td>
                     <td> <input type="text" v-model='participantVGA' disabled></td>
                  </tr>
                  <tr>
                     <td>Vorgesehener Gutachter</td>
                     <td> <input type="text" v-model='participantWGA' disabled></td>
                  </tr>
                  <tr>
                     <td>Beteiligte Gutachter </td>
                     <td><input type="text" v-model='participants' disabled></td>
                  </tr>
                  <tr>
                     <td>Auftragsbezogene Gruppe </td>
                     <td>  <input type="text" v-model='auftragsbezogeneGruppe' disabled></td>
                  </tr>
               </table>
            </div>


            <div v-if='auftrag["is-prg"]'>
               <h2>PRG</h2> 
               <table>
                  <tr>
                     <td>Verzögerungsgrund PRG</td>
                     <td></td>
                     <td>
                        <select v-selectmenu='auftrag["reason-of-prg-delay-id"]' style='width:500px' class='sel'>
                           <option v-for='opt in valuelists.reasonsOfPrgDelay' v-bind:value='opt.value'>{{ opt.text }}</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td>Erläuterung d. Verzögerung</td>
                     <td></td>
                     <td><textarea cols='79' v-model='auftrag["prg-delay-comment"]'></textarea></td>
                  </tr>
                  <tr>
                     <td>Datum Verzögerungsschreiben</td>
                     <td></td>
                     <td>
                        <input type='text' v-model='auftrag["prg-delay-letter-date"]' class="date" disabled />
                     </td>
                  </tr>

               </table>
            </div>

            <div>
               <h2>Leistungserbringer </h2>
               <div v-if='servicerendererTypes.length && !readonly'>
                  <select v-selectmenu='selectedServicerendererType' style="width:200px" class='sel'>
                     <option v-for='opt in servicerendererTypes' v-bind:value='opt.value'>{{ opt.text }}</option>
                  </select>
                  <i class="fa fa-plus-circle fa-lg" @click='addServicerenderer' title='Leistungserbringer hinzufügen'></i>
               </div>
               <table>
                  <tr v-for='servicerenderer in servicerenderers'>
                     <td> {{ servicerenderer.servicerenderertype }} </td>
                     <td> <input 
                           type="radio" 
                           name="selectedServicerenderer" 
                           :value="servicerenderer.servicerendererid" 
                           v-model="selectedServicerendererId" @click="selectServicerendererAsPreferred"
                           title='Bevorzugter Leistungserbringer'>
                     </td>
                     <td> <a href="#" @click='showServiceRenderer(servicerenderer)'>{{ servicerenderer.shortname }}</a></td>
                     <td>  <i class="fa fa-search" title='Leistungserbringer suchen'  v-if='!readonly' @click='searchServicerenderer(servicerenderer)'></i> </td>
                     <td>  <i class="fa fa-trash"  title='Leistungserbringer löschen' v-if='!readonly' @click='deleteServicerenderer(servicerenderer)'></i> </td>
                  </tr>
               </table>
            </div>

         </div>
         <!--<pre>data: {{ $data.servicerenderers | json 3}}</pre>-->
      </div>

   </body>
</html>
