<!DOCTYPE html>
<head>
   <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

   <title>Vue Test</title>
   <link rel='stylesheet' href='/vendor/font-awesome-4.7.0/css/font-awesome.min.css'/>
   <link rel='stylesheet' href='/vendor/jQueryUI-1.12.0/jquery-ui.min.css'/>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel='stylesheet' href='https://unpkg.com/select2@4.0.3/dist/css/select2.min.css'/>
   <link rel='stylesheet' href='/vendor/ebtable/ebtable.css'/>

   <style>
      * {font-family: Arial; color: black;font-size: 12px;}
      #app { width: 800px; background-color: #f3f3f0; margin:5px; padding: 10px}
      .ui-datepicker-trigger { border:none; background:none; }
   </style>

   <script src="/vendor/moment.min.js"></script>
   <script src="/vendor/underscore-1.8.3/underscore.js"></script>
   <script src="/vendor/jQuery-1.11.3/jquery.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <script src="/vendor/jQueryUI-1.12.0/jquery-ui-datepicker-de.js"></script>
   <script src="https://unpkg.com/select2@4.0.3/dist/js/select2.js"></script>
   <script src="/vendor/vue-2.6.0/vue.js"></script>

   <script src="/javascript/vue-eb-components.js"></script>

   <script>

      const data = {
        readonly: false,
        message: 'Hello Vue.js!',
        b: true,
        picked: 'one',
        selected: 'two',
        date: '',
        dtx: '',
        ddval1: 1,
        ddval2: 2,
        options1: [
          {text: 'AAA', value: 1},
          {text: 'BBB', value: 2},
          {text: 'CCC', value: 4}
        ],
        options2: ['AAA', 'BBB', 'CCC'],
        o: {
          a: 'aa'
        },
        name: '12345',
        options: [
          {id: 1, text: 'Hello'},
          {id: 2, text: 'World'}
        ],
        checkbox1: true,
        checkbox2: true,
      };
      var vue;
      $(document).ready(function (){

        $("input:checkbox").checkboxradio({
          icon: true
        });

        $('#cbReadonly').on('change', function (){
          const readonly = $('#cbReadonly').prop('checked');
          $('input').prop('disabled', readonly);
          $(".sel").selectmenu().selectmenu(readonly ? 'disable' : 'enable');
          // $('select').selectmenu(readonly ? 'disable' : 'enable');
          $('#cbReadonly').prop('disabled', false);
        })

        vue = new Vue({
          el: '#app',
          data: data,
          // vuetify: new Vuetify(),
          computed: {
            rev_message: function (){
              return this.message.split('').reverse().join('');
            },
            fullName: {
              get: function (){
                return this.name.split('').reverse().join('')
              },
              set: function (newValue){
                this.name = newValue.split('').reverse().join('')
              }
            }
          },
          methods: {
            CheckDate: function (){
              console.log(this.dt);
            }
          }
        });
      });
   </script>
</head>

<body>

   <div id="app">
      <label for="cbReadonly">Readonly</label>
      <input type='checkbox' v-model='readonly' id='cbReadonly'/>

      <div>
         <p>Selected: {{ selected }}</p>
         <select2 :options="options" v-model="selected"></select2>
      </div>

      <eb-vue-date-picker v-model='date'></eb-vue-date-picker>
      <eb-vue-date-picker v-model='date'></eb-vue-date-picker>

      <input type='text' v-model='fullName'/>
      <br/>
      <input v-model="message">
      <p>{{ message }}</p>
      <p>{{ rev_message }}</p>
      <!--<p><input type="checkbox" v-model="b">{{b ? "yes" : "no"}}</p>-->  
      <p>
      <fieldset>
         <label>One  <eb-radio name="picked"  v-model='picked'/></label>
         <label>Two  <eb-radio name="picked"  v-model='picked' /></label>
         <label>Three<eb-radio name="picked"  v-model='picked' /></label>
      </fieldset>
      Ausgewählt ist: {{picked}}
   </p>


   <br/>
   <select2 v-model='ddval1' style='width:200px' class='sel'>
      <option v-for="option in options1" v-bind:value="option.value">{{ option.text }}</option>
   </select2>

   <eb-vue-dropdown v-model='ddval2' style='width:200px' class='sel'>
      <option v-for="option in options2" >{{ option }}</option>
   </eb-vue-dropdown>

   <h2>Checkbox</h2>
   <label for="checkbox-1">2 Star</label>
   <input type="checkbox" name="checkbox-1" id="checkbox-1">
   
   <label for="checkbox-nested-1">2 Double
      <input type="checkbox" name="checkbox-nested-1" id="checkbox-nested-1">
    </label>
   <pre>data: {{$data | json 3}}</pre>


</div>

</body>
</html>
